<!DOCTYPE html>
<html>
<head>
  <title>RailgunDevise</title>
  <%= stylesheet_link_tag    "railgun_devise/application", :media => "all" %>
  <%= javascript_include_tag "railgun_devise/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
